<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- this gets the stylesheet from the cloud
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    -->
  <!--Materialize-->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <!-- styles -->
    <link rel="stylesheet" href="{{ "/assets/css/materialize.css"  | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/site.css"  | prepend: site.baseurl }}">
    
        
</head>

<body>